@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
  }

  * {
    @apply border-zinc-800;
  }

  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .chip-positive {
    @apply text-emerald-400;
  }
  .chip-negative {
    @apply text-red-400;
  }
  .chip-neutral {
    @apply text-zinc-400;
  }
}
